<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Task 5</title>
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" />
</head>
<body>
    <div class="row">
        <div class="col">
            <form>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Choose Photo</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="submit" id="submitPhoto">
                </div>
            </form>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Shortened Link:</h5>
                    <p class="card-text">Some</p>
                </div>
            </div>
        </div>
    </div>

    <script src="../../Scripts/jquery-3.5.1.intellisense.js"></script>\
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script>

    </script>
</body>

</html>