<form action="/charge" method="post" id="payment-form">
    <div class="form-row">
        <label for="card-element">
            Credit or debit card
        </label>
        <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
    </div>

    <input id="amount" type="number" name="amount" value="" />

    <button>Submit Payment</button>
</form>

@section Scripts {
    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript">

        // Create a Stripe client.
        // Note: this merchant has been set up for demo purposes.
        var stripe = Stripe('pk_test_qan7MpVhxFBZone7T4uvgYNZ00AYyikUEX');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', { style: style });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            var amount = $('#amount').val();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token, amount);
                }
            });
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token, amount) {
            $.ajax({
                method: "POST",
                url: "/Home/Charge",
                data: { Token: token.id, Amount: amount }
            })
                .done(function (msg) {
                    alert("Data Saved: " + msg);
                });
        }
    </script>
}
/**/
/**/

